@import "Reboot.scss";

body {
}

$completed: #2D9CDB !default;
$dark-grey: #333333 !default;
$light-grey: #E0E0E0 !default;
$medium-grey: #4F4F4F !default;
$highlight: #D6F0FF !default;

.icon {
	background-size: 20px !important;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
}

.header {
	background-color: $dark-grey;
	width: 100%;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	z-index: 1;

	.logo {
		height: 1em;
		margin-right: 10px;
	}

	.control-group {
		margin-left: 10px;
	}
}


.app {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 95vh;
}

.notes {
  position: fixed;
	height: 100vh;
	width: 80%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	transition: all .2s;

  flex-direction: column;
	overflow-y: scroll;
	border-right: 1px solid $light-grey;
	background-color: white;
	z-index: 3;
}

.notes.mobile-hide {
	width: 0px;
}

.notes .note-preview {
	height: 70px;
  overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: white;
	cursor: default;
	user-select: none;
}

.notes .note-preview .contents{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;

	margin-left: 20px;
	padding-right: 50px;
	border-bottom: 1px solid $light-grey;

	.title {
		font-weight: bold;
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}

	.time {
		padding-right: 1em;
	}

	.body {
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
}

.note-preview.current {
  background-color: $highlight;
}

.note-timer-container {
	height: 85vh;
	width: 100%;
	z-index: 1;
}

.note-updated {
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #828282;
	background-color: white;
	font-size: 0.7em;
	user-select: none;
}

.timer-bar {
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.30);
	border-top: 1px solid $light-grey;
	height: 10vh;
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.control-group {
	display: flex;
	flex-direction: row;
}

.timer-control {
	user-select: none;
	cursor: default;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	color: white;
	border-radius: 2px;
	padding: 5px 15px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;

	//.icon {
		//width: 20px;
		//height: 20px;
		//margin-left: 5px;
	//}
}

.timer-control.stop {
	height: 42.31px;

	background: linear-gradient(296.82deg, #EB5757 -0.37%, #FF7B52 96.52%);
	border-radius: 3px;

	.icon {
		//background: url('/img/stop.svg') no-repeat;
	}
}

.timer-control.play {
	height: 42.31px;

	background: linear-gradient(296.82deg, #2F80ED -0.37%, #56CCF2 96.52%);
	border-radius: 3px;

	.icon {
		//background: url('/img/start.svg') no-repeat;
	}
}

.timer-control.skip {
	height: 42.31px;

	background: linear-gradient(296.82deg, #219653 -0.37%, #5FE898 96.52%);
	border-radius: 3px;
	.icon {
		//background: url('/img/skip.svg') no-repeat;
	}
}

.note {
  width: 100%;
	height: 95vh;
  display: flex;
  flex-direction: column;
	overflow-y: scroll;
	background-color: white;

	.control-group {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}

.note.dropping {
	background-color: $light-grey;
}

.note.dropping .timeline-top {
	background-color: transparent;
}

.note.dropping .timeline-bottom {
	background-color: transparent;
}

.chunk {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
	background-color: white;
	z-index: 1;
}

.chunk.complete{
	color: #BDBDBD;
}

.chunk.complete .first-line {
	text-decoration: line-through;
}

.interval {
  margin-top: 20px;
	font-size: 12px;
	width: 20%;
	height: 100%;
	font-weight: bold;
}

.interval-long {
	display: none;
}

.interval-short {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.editor {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 100%;
	max-width: 40em;
}

.editor .task-title {
  font-weight: bold;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
	width: 20px;
}

.timeline-top {
  height: 30px;
  width: 20%;
  background-color: #828282;
}

.timeline-top.first{
	background-color: rgba(0, 0, 0, 0);
}

.timeline-bottom{
  flex-grow: 1;
  width: 20%;
  background-color: #828282;
}

.timeline .complete {
  width: 30%;
  background-color: $completed;
}

.timeline-bottom.last {
	background-color: rgba(0, 0, 0, 0);
}

.bullet:after{
	content: "";
	display: block;
	padding-top: 100%;
}

.bullet {
  width: 70%;
	border-radius: 50%;

	border: 4px solid #828282;
	background-color: white;

	position: relative;
  margin-top: -4px;
  margin-bottom: -4px;
}

.bullet.complete{
  width: 100%;
	margin-top: -10px;
	border: 3px solid $completed;
	color: $completed;
	background-color: white;
}

.bullet.complete .inner {
	width: 100%;
	height: 100%;
	position: relative;
	background: url('/img/checkmark.svg') center/80% no-repeat;
}

.countdown {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 100%;
	padding-top: 9px;
	padding-bottom: 9px;
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bold;
	cursor: auto;
	user-select: none;
}

.countdown-number {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	width: 2.3em;
	height: 2.0em;
	background: linear-gradient(360deg, #333333 0%, #000000 97.99%);
	border-radius: 5px;
	text-align: center;
	color: white;
}

.countdown-colon {
	color: black;
}

.chunk.current {
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.30);
	background-color: $completed;
	color: white;
	position: relative;
	z-index: 3;
}

@media(min-width: 930px) {
	.sidebar-toggle {
		display: none !important;
	}

	.notes {
		height: 100%;
		display: flex;
		position: static;
		width: 25%;
	  box-shadow: none;
	}

	.notes.mobile-hide {
		display: flex;
		width: 25%;
	}

	.note-timer-container {
    width: 75%;
		height: 100%;
	}

	.chunk {
		width: 100%;
	}

	.interval {
		font-size: 16px;
		font-weight: 500;
		width: 20%;
	  text-align: right;
		padding-right: 10px;
	}

	.timeline {
		width: 25px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.interval-long {
		display: block;
	}

	.interval-short {
		display: none;
	}

	.countdown {
	  justify-content: flex-start;
	  align-items: center;
	}

	.note {
		.control-group {
			justify-content: flex-start;
		}
	}
	.timer-control {
	  padding: 5px 20px;
	}
}
