body {
	background-color: rgb(239, 236, 234);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
	background-color: white;
	min-height: 300px;
	width: 400px;
	margin: auto;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	padding-top: 40px;
	margin-top: -10px;
	min-height: 700px;
	height: 100%;
}

.logo {
	width: 3em;
	height: 3em;
	margin: auto;
	margin-top: 2px;
	background-image: url('./logo.svg')
}

.chunk {
	width: 100%;
	position: relative;
	margin-left: -3px;
}

.chunk .separator{
	height: 30px;
	width: 100%;
	z-index: 3;
}

.bullet {
	width: 0.7em;
	height: 0.7em;
	background-color: grey;
	border-radius: 50%;
	position: absolute;
	left: -3px;
	top: 28px;
}

.checkmark {
	width: 2.0em;
	height: 2.0em;
	background-image: url('./checkmark.svg');
	position: absolute;
	left: -13px;
	top: 16px;
}

.editor {
	display: block;
	font-size: 16px;
	width: 530px;
	padding-left: 33px;
	z-index: 3;
}

.chunk .first-line {
	font-weight: bold;
}

.chunk .bottom-boundary{
	border-bottom: 1px solid #F2F2F2;
	position: absolute;
	width: 100%;
	margin-left: 4px;
}

.chunk .interval {
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	color: #9E9E9E;
	position: absolute;
	width: 9em;
	text-align: right;
	left: -200px;
	top: 23px;
}

.timer {
	width: 220px;
	max-height: 60px;
	background-color: #2D9CDB;
	position: fixed;
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	color: white;
	border-radius: 6px;
	padding: 5px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.timer-control {
	float: left;
	width: 35px;
	height: 100%;
	padding: 5px;
	padding-left: 10px;
	border-right: solid 1px #4FD4FF;
}

.timer-control .pause {
	width: 40px;
	height: 40px;
	background: url('./pause.svg') no-repeat;
}

.timer-control .play {
	width: 40px;
	height: 40px;
	background: url('./play.svg') no-repeat;
}

.countdown {
	height: 100%;
	margin-left: 9px;
	float: left;
	font-weight: bold;
}

.countdown-number{
	vertical-align: middle;
	height: 49px;
	font-size: 25px;
	width: 44px;
	background: linear-gradient(360deg, #333333 0%, #000000 97.99%);
	border-radius: 5px;
	text-align: center;
	line-height: 49px;
	float: left;
}

.countdown-colon{
	float: left;
	height: 49px;
	color: #333333;
	font-size: 30px;
	line-height: 49px;
}

