.App {
	width: 400px;
	margin: auto;
	margin-top: 40px;
}

.time {
	font-family: monospace;
	color: blue;
	margin-top: 2em;
}

.time:hover{
	cursor: pointer;
}

button {
	padding: 10px;
	float: right;
	margin-top: 4px;
}
